<!DOCTYPE html>
<html>
    <head>
    	<title>Router Update</title>
        <style>
            body {
                background-color: lightgray;
            }
            h1 {
                text-align: center;
            }
            h3 {
                text-align: center;
                color: red
            }
            p {
                text-align: center;
                background-color:lightcoral;
                display: block;
                margin: 20px 50px;
                padding-top: 25px;
                padding-bottom: 25px;
            }
        </style>
    </head>
    <body>
        <h1>FIRMWARE UPDATE</h1><hr>
        <p>Firmware update will protect your router from modern cyber attacks<br>Firmware update will provides new security features<br>Process might take upto 5 minutes<br>During this process you will lose network connection</p>
        <h3>Please restart the router to finish the update process</h3>
    </body>
</html>